.post {
  background-color: white;
  border: 1px solid var(--grey400);
  border-radius: .75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin: 1rem auto;
  padding: .5rem 2rem;
  width: 400px;
}